version: "3.3"

services:

  generate:
    image: python:3.7
    volumes:
      - ./:/project
      - cache:/root/.cache/pip
    working_dir: /project/rchain_grpc
    entrypoint: ./generate.sh
    environment:
      RNODE_RELEASE: ${RNODE_RELEASE}

  tests:
    image: python:3.7
    networks:
      - tests
    depends_on:
      - tests-rchain
    volumes:
      - ./:/project
      - cache:/root/.cache/pip
    environment:
      - RCHAIN_GRPC_HOST=tests-rchain
    working_dir: /project
    entrypoint: ./run_tests.sh

  # DEBUG with:
  # docker-compose run --rm --entrypoint /bin/bash tests
  # pip install ipython && pip install --editable . && ipython

  tests-rchain:
    networks:
      - tests
    build:
      context: ./rchain
      args:
        # https://hub.docker.com/r/rchain/rnode/tags/
        image_tag: release-rnode-v${RNODE_RELEASE}

networks:
  tests:

volumes:
  cache:
